@{
    ViewData["Title"] = "About Me";
}
<h1>About Me</h1>

<p><strong>Full Name:</strong>Cherry Mae Quiño</p>
<p><strong>Age:</strong>22</p>
<p><strong>Course & Year:</strong>BSIT - 3rd Year</p>


<h2>My Expecatations for Web Systems and Technologies  </h2>
<ul>
    <li>I want to improve my we development skills, especially using ASP.NET.MVC.</li>
    <li>I hope to understand how C# is used in real-world web applications.</li>
    <li>I want to become more confident in building functional web systems </li>
    <li>I expect to learn how to create a dynamic web pages using models and views.</li>
    <li>I want to pass this subject and gain valuable knowledge from it</li>
</ul>


<p>Use this page to detail your site's privacy policy.</p>
